[Desktop Entry]
Version=1.0
Name=Halfy Core
Comment=Halfy P2P Cryptocurrency
Comment[de]=Verbinde mit dem Halfy peer-to-peer Netzwerk
Comment[fr]=Halfy, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Halfy, eşten eşe kriptografik sanal para birimi
Exec=halfy-qt %u
Terminal=false
Type=Application
Icon=halfy128
MimeType=x-scheme-handler/halfy;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Halfy-qt
